* {
  box-sizing: border-box;
}
/* Typography */
body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  background-color: #333333;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  line-height: 34px;
}

h1, h2 {
  font-weight: 600;
}

h1, h2, a, .overline {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 34px;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.25%;
}

a, .overline {
  font-weight: 700;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Typography Colors */
.light {
  color: #ffffff;
}

.medium{
  color: #979797;
}

.dark {
  color: #000000;
}

.highlight {
  color: #c9c7bb;
}

/* Top Navigation */
nav {
  margin-top: 38px;
  padding: 10px 10px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* background-image: linear-gradient(rgba(51, 51, 51, 0.75) 70px,transparent 110px); */
  box-shadow: 0px 0px 10px 10px rgba(51, 51, 51, 0.75);
  background-color: rgba(51, 51, 51, 0.75);
  z-index: 1;
}

nav ul {
  display: flex;
}

nav a {
  color: #ffff;
  z-index: 2;
}

.nav-about:hover {
  background-image: linear-gradient(transparent 10px, #817f74 20px,transparent 5%);
}

.nav-work:hover {
  background-image: linear-gradient(transparent 10px, #817f74 20px,transparent 5%);
}

.nav-home {
  margin-right: auto;
}

.nav-about {
  margin-top: 3px;
}

.nav-work {
  margin: 3px 0 0 24px;
}

nav svg {
  width: 10em;
  margin: 0 auto 0 0;
}

/* Hero Section */
header {
  display: block;
  text-align: center;
  padding-top: 48px;
}

header svg {
  width: 90vw;
  max-width: 500px;
  filter: drop-shadow(8px 5px 0px #6c6b60);
  z-index: -1;
}

h1:nth-of-type(1)  {
  color: #ffff;
  margin: 48px 24px 0 24px;
}

h1:nth-of-type(2) {
  color: #c2c2c2;
  margin: 24px 32px 48px 32px;
}

section {
  padding: 0 10px;
  text-align: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 15px;
  /* max-width: 1000px; */
  /* margin: auto; */
}

.features li {
  grid-column: span 2;
  grid-row: span 2;
  display: block;
}

/* .features li:nth-child(1) .feature-overlay {
  border: 15px solid #2f3848;
}

.features li:nth-child(2) .feature-overlay {
  border: 15px solid #ffff;
}

.features li:nth-child(3) .feature-overlay {
  border: 15px solid #c9c7bb;
} */


.features li:hover .feature-overlay {
  transition: 0.5s ease;
  opacity: 1;
}

.features li:focus .feature-overlay {
  transition: 0.5s ease;
  opacity: 1;
}


.features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  /* backface-visibility: hidden; */
}

.feature-overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #ffff;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  border: 15px solid #c9c7bb;
}

.feature-text {
  position: relative;
  top: 20%;
}

footer {
  margin: 48px 10px 0 10px;
  padding: 24px 0 48px 0;
  border-top: 5px solid #c9c7bb;
  color: #ffff;
  text-align: center;
}

footer li {
  color: #ffff;
  margin-bottom: 24px;
}

.footer-link {
  color: #ffff;
}

.footer-link:hover {
  color: #c9c7bb;
}

/* Summary Pages */

.intro {
  max-width: 600px;
  margin: 0 auto;
  padding: 48px 10px 48px 10px;
}
.section-container {
  text-align: left;
}

.text-block {
  margin: 24px 0 48px 0;
}

.project-role {
  margin-bottom: 24px;
}

/* Buttons */

.cta {

}

@media screen and (min-width: 800px) {
  .features {
    grid-auto-flow: column;
  }

  .features li:nth-child(1) {
    grid-column: span 4;
    grid-row: span 4;
  }

  .features li:nth-child(1) .feature-text {
    top: 30%;
  }

  footer ul {
    display: flex;
  }

  footer li {
    margin-left: 24px;
    text-align: left;
  }

  footer li:nth-of-type(1){
    margin: 0 auto 0 0;
  }


}
