* {
  box-sizing: border-box;
}
/* Typography */
body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  background-color: #333333;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  line-height: 34px;
}

h1, h2 {
  font-weight: 400;
  font-style: normal;
}

h1, h2, a, .overline {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 34px;
}

.body1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.05em;
}

a, .overline {
  font-weight: 700;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Typography Colors */
.light {
  color: #ffffff;
}

.med-light {
  color:#979797;
}

.medium{
  color: #979797;
}

.dark {
  color: #000000;
}

.med-dark {
  color: #333333;
}

.highlight {
  color: #c9c7bb;
}

/* Top Navigation */
nav {
  margin: 28px 0 7vw 0;
  padding: 10px 10px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* background-image: linear-gradient(rgba(51, 51, 51, 0.75) 70px,transparent 110px); */
  box-shadow: 0px 0px 10px 10px rgba(51, 51, 51, 0.75);
  background-color: rgba(51, 51, 51, 0.75);
  z-index: 3;
}

nav ul {
  display: flex;
}

nav a {
  color: #ffff;
  z-index: 5;
}

.nav-work:hover, .nav-about:hover {
  background-image: linear-gradient(to top, transparent 42%, #817f74 42%, #817f74 68%, transparent 68%);
}

nav a:active {
  color: #c9c7bb;
}

body#about li#aboutnav, body#work li#worknav {
  background-image: linear-gradient(to top, transparent 42%, #817f74 42%, #817f74 68%, transparent 68%);
  color: #c9c7bb;
}

.nav-home {
  margin-right: auto;
}

.nav-about {
  margin: 3px 0 0 24px;
}

.nav-work {
  margin-top: 3px;
}

nav svg {
  width: 10em;
  margin: 0 auto 0 0;
}

/* Hero Section */
.hero {
  display: block;
  text-align: center;
  padding-top: 48px;
}

.hero svg {
  width: 90vw;
  max-width: 300px;
  filter: drop-shadow(8px 5px 0px #6c6b60);
  z-index: -1;
}

.hero-title  {
  color: #ffff;
  margin: 48px 24px 0 24px;
}

.hero-subtitle {
  color: #c2c2c2;
  margin: 24px 32px 48px 32px;
  font-size: 1.3em;
}

section {
  padding: 0 20px;
  text-align: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 24px;

  /* max-width: 1000px; */
  /* margin: auto; */
}

.features li {
  grid-column: span 2;
  grid-row: span 2;
  display: block;
  overflow: hidden;
  position: relative;
}

.project-card:hover .feature-overlay, .project-card:focus .feature-overlay  {
  transition: 0.5s ease;
  opacity: 1;
}

.features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.feature-overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  text-align: center;
  color: #ffff;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  border: 15px solid #c9c7bb;
}

.active {
  transition: .5s ease;
  opacity: 1;
  position: relative;
  transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  text-align: center;
  color: #ffff;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  border: 15px solid #c9c7bb;
}

.feature-text {
  position: relative;
  top: 40%;
}

.feature-text h1 {
  text-transform: none;
}

footer {
  margin: 48px 10px 0 10px;
  padding: 24px 0 48px 0;
  border-top: 5px solid #c9c7bb;
  color: #ffff;
  text-align: center;
}

footer li {
  color: #ffff;
  margin-bottom: 24px;
}

.footer-link {
  color: #ffff;
}

.footer-link:hover {
  color: #c9c7bb;
}

/* Summary Pages */

.summary-hero {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  text-align: center;
}

#fade-hero {
  background-image: url(/css/images/catcoffee.png);
}

#busybus-hero {
  background-image: url(/css/images/bus-background.png);
}

#ideamapr-hero {
  background-image: url(/css/images/wrapping-paper.png);
}

.summary-hero img, .tour img {
  width: 60vw;
  margin: 48px auto;
}

.tour video, .tour img {
  width: 80vw;
  margin: 48px auto;
}

.intro, .problem, .solution, .summary-features {
  max-width: 600px;
  margin: 0 auto;
  padding: 48px 10px 48px 10px;
  text-align: left;
}

.project-title {
  margin: 24px 0;
}

.project-role {
  margin: 48px 0 24px 0;
}

/* Buttons */

.cta {
  padding: 48px 0;
}

.button-filled {
  width: 320px;
  height: 35px;
  border: none;
  color: #333333;
  align-items: baseline;
  background-color: #ffff;
  font-family: 'Raleway', serif;
  box-shadow: 4px 3px 0px 0px rgba(201, 199, 187, 1);
  font-weight: 700;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
  cursor:pointer;
}

.button-open {
    width: 100%;
    height: 35px;
    border: none;
    color: #333333;
    align-items: baseline;
    background-color: rgba(201, 199, 187, 0);
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 13.34px;
    line-height: 18px;
    letter-spacing: 2.5px;
    margin-top: 24px;
    cursor:pointer;
  }

.bottom-button button{
  width: 320px;
}

.button-filled:hover {
  color: #ffffff;
  background-color: #c9c7bb;
  box-shadow: 4px 3px 0px #FFFFFF;
}

.button-open:hover {
  border: 2px solid #C9C7BB;
}

.button-dark {
  background-color: #000000;
  color: #ffff;
  }

.button-dark:hover {
  border: 2px solid #c9c7bb;
  color: #333333;
  box-shadow: 4px 3px 0px #131313;
}

.button-open-dark {
  border: 2px solid #c9c7bb;
}

.button-open-dark:hover {
  border: 2px solid #131313;
}

.problem {
  background-color: #c9c7bb;
}

.problem-solution h2, .problem-solution p, .summary-features {
  margin-left: 10px;
}

.problem-solution p {
  margin-top: 24px;
}

.solution {
  background-color: #f9f7eb;
}

.tour p, .branding p {
  text-align: left;
}

.tour {
  max-width: 600px;
  margin: 48px auto 0 auto;
}

.summary-features  p, .branding p {
  margin: 12px 0 48px 0;
}

.branding p {
  color: #ffff;
}

.branding img {
  margin-bottom: 96px;
}

/* Read More Line */
.more {
  text-align: center;
  margin: 48px 0;
  max-width: 724px;

}

.more .hr {
  position: relative;
  margin-top: 20px;
  color: #ffff;
  text-transform: none;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.more p.hr {
  margin-top: 0;
}

.more p.hr:before {
  content: "";
  display: block;
  border-top: solid 1px #ebe9dd;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.more p.hr span {
  background: #333333;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

/* Full Case Study Pages */
.dark-background {
  color: #ffff;
}

.med-dark-background {
  background-color: #c9c7bb;
}

.med-background {
  background-color: #ebe9dd;
}

.light-background {
  background-color: #ffff;
}

.text-container {
  max-width: 724px;
  margin: 0 auto;
  padding: 48px 10px 24px 10px;
  text-align: left;
}

.text-container h2, .text-container p, .text-container h1, .text-block p  {
  margin-bottom: 24px;
}

.text-callout {
  text-align: center;
  font-size: 1.5em;
  margin: 48px 0;
}

.text-callout h1:nth-of-type(2){
  margin: 24px 0;
}

.multi-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.group {
  padding: 0 20px;
  margin-top: 48px;
}

.group-item img{
  margin-bottom: 24px;
}

.group-item button {
  text-align: left;
  width: fit-content;
}

.group-item button p {
  margin-bottom: 0;
}

.group-bullet {
  display: flex;
}

.group-bullet i {
  margin-right: 12px;
}

figure {
  margin: 48px 0;
  text-align: center;
}

figure img {
  max-width: 320px;
}

figure i {
  height: 84px;
  width: 84px;
}

#wireframes-arrow {
  margin-bottom: 0;
}

.wireframes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* .wireframes figure {
  margin-bottom: 0;
} */

.image-background {
  background-image: url(/css/images/mother-daughter-sunset.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  text-align: center;
}

.ideamapr-background {
  background-image: url(/css/images/houston-bridge.jpg);
}

.image-background div {
  text-align: right;
  max-width: 724px;
  margin: 0 auto;
}

.image-background video {
  margin: 48px 0;
}

.ideamapr-video {
  max-width: 356px;
}

.sm-mockup {
  max-width: 160px;
}

.mockup, .mockup-desktop {
  width: 90vw;
}

.wide-background {
  margin: 48px 0px;
  width: 100%;
  height: 100%;
  padding: 48px;
}

.wide-background p {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 10px;
}

.annotation {
  display: inline-block;
  border-radius: 50%;
  background-color: #2f80ed;
  height: 35px;
  width: 35px;
  text-align: center;
  color: #ffff;
  vertical-align: middle;
  word-wrap: normal;
  direction: ltr;
  margin-right: 12px;
}

.bullet-text {
  max-width: 250px;
}

#favored {
  color: #27ae60;
}

#unfavored {
  color: #eb5757;
}

#optional {
  display: none;
}

#profile div {
  margin-top: 48px;
}

#profile p {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  .hero svg {
    max-width: 500px;
  }

  .hero-title  {
    color: #ffff;
    margin: 7vw 24px 0 24px;
  }

  .hero-subtitle {
    color: #c2c2c2;
    margin: 2vw 32px 7vw 32px;
    font-size: 2em;
  }

  .features {
    grid-auto-flow: column;
  }

  .features li:nth-child(1) {
    grid-column: span 4;
    grid-row: span 4;
  }

  .feature-text {
    top: 35%;
  }

  .big-feature {
    top: 40%;
  }

  .feature-text h1 {
    margin-bottom: 1vw;
  }

  footer {
  margin-top: 7vw;
  }

  footer ul {
    display: flex;
  }

  footer li {
    margin-left: 24px;
    text-align: left;
  }

  footer li:nth-of-type(1){
    margin: 0 auto 0 0;
  }

  /* Summary Pages */
.summary-nav {
  margin-bottom: 48px;
}

.summary-hero {
  /* height: 100vh; */
  width: auto;
  background-size: cover;
  background-position: center;
}

.summary-hero img {
  /* height: 50vw; */
  width: 20vw;
  min-width: 200px;
  margin: 8vw 0;
}

.cta {
  display: block;
  margin: 0 auto;
  max-width: 724px;
}

.problem-solution, .tour-features{
  display: flex;
  max-width: 724px;
  margin: 0 auto 48px auto;
}

.problem{
  margin-right: 24px;
}

.tour {
  margin: 0 66px 0 40px;
}

.tour img, .tour video {
  width: 270px;
  min-width: 200px;
}

.summary-features {
  width: 315px;
  padding-top: 58px;
}

.more {
  margin: 0 auto 4vw auto;
}

.more-features {
  max-width: 724px;
  margin: 0 auto 0 auto;
}

.more-features li:nth-child(1), .more-features li:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 300px;
}

/* Full Case Study */
.text-container {
  padding: 48px 62px 24px 62px;
}

#about-intro {
  padding: 48px 0 24px 0;
}

.multi-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  padding: 0 0;
}

.diagram {
  width: 39vw;
  max-width: 500px;
}

#logoball {
  max-width: 320px;
}

.wide-diagram {
  max-width: 1154px;
}

.single-column {
  max-width: 300px;
}

.image-background video {
  margin: 17vw auto;
}

.mockup, .sm-mockup {
  width: 280px;
  max-width: 724px;
}

.mockup-desktop {
  max-width: 560px;
}

#optional {
  display: inline-block;
}

#replace {
  display: none;
}

.bullet-text {
  max-width: 500px;
}

/* About Page */

#profile {
  float: right;
  margin: 48px 0 48px 48px;
}

}
