* {
  box-sizing: border-box;
}
/* Typography */
body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  background-color: #333333;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  line-height: 34px;
}

h1, h2 {
  font-weight: 600;
  font-style: normal;
}

h1, h2, a, .overline {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 34px;
}

.body1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.05em;
}

a, .overline {
  font-weight: 700;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Typography Colors */
.light {
  color: #ffffff;
}

.med-light {
  color:#979797;
}

.medium{
  color: #979797;
}

.dark {
  color: #000000;
}

.med-dark {
  color: #333333;
}

.highlight {
  color: #c9c7bb;
}

/* Top Navigation */
nav {
  margin: 28px 0 7vw 0;
  padding: 10px 10px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* background-image: linear-gradient(rgba(51, 51, 51, 0.75) 70px,transparent 110px); */
  box-shadow: 0px 0px 10px 10px rgba(51, 51, 51, 0.75);
  background-color: rgba(51, 51, 51, 0.75);
  z-index: 3;
}

nav ul {
  display: flex;
}

nav a {
  color: #ffff;
  z-index: 5;
}

.nav-about:hover {
  background-image: linear-gradient(transparent 10px, #817f74 20px,transparent 5%);
}

.nav-work:hover {
  background-image: linear-gradient(transparent 10px, #817f74 20px,transparent 5%);
}

.nav-home {
  margin-right: auto;
}

.nav-about {
  margin-top: 3px;
}

.nav-work {
  margin: 3px 0 0 24px;
}

nav svg {
  width: 10em;
  margin: 0 auto 0 0;
}

/* Hero Section */
.hero {
  display: block;
  text-align: center;
  padding-top: 48px;
}

.hero svg {
  width: 90vw;
  max-width: 300px;
  filter: drop-shadow(8px 5px 0px #6c6b60);
  z-index: -1;
}

.hero-title  {
  color: #ffff;
  margin: 48px 24px 0 24px;
}

.hero-subtitle {
  color: #c2c2c2;
  margin: 24px 32px 48px 32px;
}

section {
  padding: 0 20px;
  text-align: center;
}

.features, .more-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 24px;

  /* max-width: 1000px; */
  /* margin: auto; */
}

.features li, .more-features-grid li {
  grid-column: span 2;
  grid-row: span 2;
  display: block;
}

/* .features li:nth-child(1) .feature-overlay {
  border: 15px solid #2f3848;
}

.features li:nth-child(2) .feature-overlay {
  border: 15px solid #ffff;
}

.features li:nth-child(3) .feature-overlay {
  border: 15px solid #c9c7bb;
} */


.project-card:hover .feature-overlay, .project-card:focus .feature-overlay  {
  transition: 0.5s ease;
  opacity: 1;
}

.features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  /* backface-visibility: hidden; */
}

.feature-overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #ffff;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  border: 15px solid #c9c7bb;
}

.feature-text {
  position: relative;
  top: 20%;
}

footer {
  margin: 48px 10px 0 10px;
  padding: 24px 0 48px 0;
  border-top: 5px solid #c9c7bb;
  color: #ffff;
  text-align: center;
}

footer li {
  color: #ffff;
  margin-bottom: 24px;
}

.footer-link {
  color: #ffff;
}

.footer-link:hover {
  color: #c9c7bb;
}

/* Summary Pages */

.summary-hero {
  background-image: url(/portfolio/css/images/catcoffee.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  text-align: center;
}

.summary-hero img, .tour img {
  width: 60vw;
  margin: 48px auto;
}

.intro, .problem, .solution, .summary-features {
  max-width: 600px;
  margin: 0 auto;
  padding: 48px 10px 48px 10px;
  text-align: left;
}

.project-title {
  margin: 24px 0;
}

.project-role {
  margin: 48px 0 24px 0;
}

/* Buttons */

.cta {
  padding-bottom: 48px;
}

.button-filled {
  width: 320px;
  height: 35px;
  border: none;
  color: #333333;
  align-items: baseline;
  background-color: #ffff;
  font-family: 'Raleway', serif;
  box-shadow: 4px 3px 0px 0px rgba(201, 199, 187, 1);
  font-weight: 400;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
}

.button-open {
    width: 320px;
    height: 35px;
    border: none;
    color: #333333;
    align-items: baseline;
    background-color: rgba(201, 199, 187, 0);
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 13.34px;
    line-height: 18px;
    letter-spacing: 2.5px;
    margin-top: 24px;
  }

  .button-dark {
    background-color: #000000;
    color: #ffff;
  }

.problem {
  background-color: #c9c7bb;
}

.problem-solution h2, .problem-solution p, .summary-features {
  margin-left: 10px;
}

.problem-solution p {
  margin-top: 24px;
}

.solution {
  background-color: #f9f7eb;
}

.tour p, .branding p {
  text-align: left;
}

.tour {
  max-width: 600px;
  margin: 48px auto 0 auto;
}

.summary-features  p, .branding p {
  margin: 12px 0 48px 0;
}

.branding p {
  color: #ffff;
}

.branding img {
  margin-bottom: 96px;
}

/* Read More Line */
.more {
  text-align: center;
  margin-bottom: 48px;
  max-width: 724px;
}

.more .hr {
  position: relative;
  margin-top: 20px;
  color: #ffff;
  text-transform: none;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.more p.hr {
  margin-top: 0;
}

.more p.hr:before {
  content: "";
  display: block;
  border-top: solid 1px #ebe9dd;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.more p.hr span {
  background: #333333;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

/* Full Case Study Pages */
.dark-background {
  color: #ffff;
}

.med-dark-background {
  background-color: #c9c7bb;
}

.med-background {
  background-color: #ebe9dd;
}

.light-background {
  background-color: #ffff;
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 48px 10px 24px 10px;
  text-align: left;
}

.text-container h2 {
  margin-bottom: 24px;
}

.text-container p {
  margin-bottom: 24px;
}

.text-callout {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 48px;
}

.text-callout h1:nth-of-type(2){
  margin: 24px 0;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  .hero svg {
    max-width: 500px;
  }

  .hero-title  {
    color: #ffff;
    margin: 7vw 24px 0 24px;
  }

  .hero-subtitle {
    color: #c2c2c2;
    margin: 2vw 32px 7vw 32px;
  }

  .features {
    grid-auto-flow: column;
  }

  .features li:nth-child(1) {
    grid-column: span 4;
    grid-row: span 4;
  }

  .feature-text {
    top: 35%;
  }

  .big-feature {
    top: 20%;
  }

  .feature-text h1 {
    margin-bottom: 1vw;
  }

  footer {
  margin-top: 7vw;
  }

  footer ul {
    display: flex;
  }

  footer li {
    margin-left: 24px;
    text-align: left;
  }

  footer li:nth-of-type(1){
    margin: 0 auto 0 0;
  }

  /* Summary Pages */
.summary-nav {
  margin-bottom: 48px;
}

.summary-hero {
  /* height: 100vh; */
  width: auto;
  background-size: cover;
  background-position: center;
}

.summary-hero img {
  /* height: 50vw; */
  width: 20vw;
  min-width: 200px;
  margin: 8vw 0;
}

.cta {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.problem-solution, .tour-features{
  display: flex;
  max-width: 724px;
  margin: 0 auto 48px auto;
}

.problem{
  margin-right: 24px;
}

.tour {
  margin: 0 66px 0 40px;
}

.tour img {
  width: 270px;
  min-width: 200px;
}

.summary-features {
  width: 315px;
  padding-top: 58px;
}

.branding {
  max-width: 600px;
  margin: 0 auto;
}

.branding img:nth-of-type(1) {
  /* width: 20vw; */
  /* min-width: 350px; */
  margin: 48px 48px 96px 0;
}

.more {
  margin: 0 auto 4vw auto;
}

.more-features {
  max-width: 724px;
  margin: 0 auto 0 auto;
}

.more-features li:nth-child(1), .more-features li:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 300px;
}

}
