* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  background-color: #333333;
}

h1 {
  font-size: 1.5em;
  line-height: 34px;
}

h1, h2 {
  font-weight: 400;
}

h1, h2, a, .overline {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 34px;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.25%;
}

a:hover {
  color: #c9c7bb;
}

a, .overline {
  font-weight: 400;
  font-size: 13.34px;
  line-height: 18px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 48px 10px 24px 10px;
  position: sticky;
  top: 0px;
  /* background-color: rgba(51, 51, 51, 0.75); */
}

nav:before {
  content: '';
  position: absolute;
  filter: blur(30px);
  left:0px;
  right:0px;
  top:-50px;
  bottom:20px;
  background-color: rgba(51, 51, 51, 0.75);
}

nav a {
  color: #ffff;
  z-index: 2;
}

.nav-home {
  margin-right: auto;
}

.nav-about {
  margin-top: 3px;
}

.nav-work {
  margin: 3px 0 0 24px;
}

nav svg {
  width: 10em;
  margin: 0 auto 0 0;
}

header {
  display: block;
  text-align: center;
  padding-top: 24px;
}

header svg {
  width: 90vw;
  max-width: 500px;
  filter: drop-shadow(8px 5px 0px #6c6b60);
  z-index: -1;
}

h1:nth-of-type(1)  {
  color: #ffff;
  margin: 48px 24px 0 24px;
}

h1:nth-of-type(2) {
  color: #c2c2c2;
  margin: 24px 32px 48px 32px;
}

section {
  padding: 0 10px;
  text-align: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  grid-gap: 24px;
  max-width: 1000px;
  margin: auto;
}

.features li {
  grid-column: span 2;
  grid-row: span 2;
  display: block;
}

.features li:hover img {
  opacity: 0.05;
}

.features li:hover .feature-text {
  opacity: 1;
}

.features li:hover {
  border: 15px solid #c9c7bb;
  transition: .5s ease;
}

.features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.feature-text {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #ffff;
}

footer {
  margin: 48px 10px 0 10px;
  padding: 24px 0 48px 0;
  border-top: 5px solid #c9c7bb;
  color: #ffff;
  text-align: center;
}

footer li, a {
  color: #ffff;
  margin-bottom: 24px;
}

@media screen and (min-width: 800px) {
  .features {
    grid-auto-flow: column;
  }

  .features li:nth-child(1) {
    grid-column: span 4;
    grid-row: span 4;
  }

  footer ul {
    display: flex;
  }

  footer li {
    margin-left: 24px;
    text-align: left;
  }

  footer li:nth-of-type(1){
    margin: 0 auto 0 0;
  }

  .feature-text {
    top: -60%;
  }

  .small-feature {
    top:-75%;
  }

}
